<p>
  
<div style="height:400px; width:400px; display:inline-block; overflow:hidden;">
  <iframe style="position:relative; top:-60px; border:none;" src="https://www.google.com/maps/d/embed?mid=1Y4V0gxg9aPOmQiUDutQ2OZJM3qLnuDA&ehbc=2E312F" width="400" height="460"></iframe>
</div>