<div style="min-height: 100vh; background-image: url(<%= asset_path 'background.png' %>), linear-gradient(#280101 35%, yellow); background-repeat: no-repeat; background-size: cover; background-blend-mode: darken;">
  <div class="columns" style="max-width: 80rem; margin: 0 auto;">
    <div class="column p-6">
      <p class="title mb-1 has-text-white-bis">
        🎃 Muriel Ave.
      </p>
      <p class="has-text-white-bis is-family-monospace is-uppercase has-text-weight-bold" style="font-size: 3rem; line-height: 2.5rem;">
        Halloween Walk
      <p class="block subtitle has-text-white-bis has-text-weight-bold">
        Tuesday, October 31st, starting at 6:30pm
      </p>
      <p class="block has-text-white-bis">
        Please click the "plus-one" button below to help everyone buy enough treats!
      </p>
      <p class="block has-text-white-bis">
        If your trick-or-treater has any sensativities (allergies, etc.) please look for it below, or add it to the "add a new sentitivity" section
      </p>
    </div>
  </div>
  <div class="columns" style="max-width: 80rem; margin: 0 auto;">
    <%= render 'counter' %>
    <%= render 'map' %>
  </div>
</div>