<div style="min-height: 100vh; background-image: url(<%= asset_path 'background.png' %>), linear-gradient(#280101 35%, yellow); background-repeat: no-repeat; background-size: cover; background-blend-mode: darken;">
  <div class="columns" style="max-width: 80rem; margin: 0 auto;">
    <div class="column p-6">
      <p class="title mb-1 has-text-white-bis">
        🎃 IT'S THAT TIME OF YEAR!
      </p>
      <p class="has-text-white-bis is-family-monospace is-uppercase has-text-weight-bold" style="font-size: 3rem; line-height: 2.5rem;">
        Muriel Halloween Walk
      <p class="block subtitle has-text-white-bis has-text-weight-bold">
        The 3rd Annual Muriel Ave. Halloween Parade will take place at 6pm on Oct. 31. 
      </p>
      <p class="block has-text-white-bis">
        As in previous years, make sure to set up at the front of your home if you would like to participate. 
      </p>
      <p class="block has-text-white-bis">
        Please have children trick or treat in a clockwise manner. (If you live on the east side of the street, head south first. If you live on the west side, head north first.) Use the widget to RSVP and make sure to include any allergies.
      </p>
      <p class="block has-text-white-bis">
        Check back here to see the final kid tally. 
      </p>
      <p class="block has-text-white-bis">
        Let's make this the most memorable year yet!
      </p>
      <p class="block has-text-white-bis">
        Remember, you don't need to have kids to participate, its a great opportunity for our street to mingle and have fun!
      </p>
    </div>
  </div>
  <div class="columns" style="max-width: 80rem; margin: 0 auto;">
    <%= render 'counter' %>
    <%= render 'map' %>
  </div>
</div>



 




